@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This Application demonstrates the use of SharePoint within the Department of Social Protection</p>
<h3>Demonstrated Functionality</h3>

<li>File Security</li>
<li>Employee Profile</li>
<li>Register New User</li>
<li>Administrator and User use</li>

<p></p>
<p>To learn more read SharePoint report:</p>

<a href="~/Content/SharePoint_Report.docx">SharePoint Report</a>
