@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h3>Administrator Information</h3>
<p></p>
<address>
    <strong>Name:</strong> <p>Rachel Byrne</p>
    <strong>Email:</strong>   <a>Rachel@collaboration.com</a>
    <p></p>
    <strong>Phone Number:</strong> <p>(01) 6664537</p>
    <strong>Mobile Number:</strong> <p>353+ 841236648</p>
    
</address>