@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Collaboration</h1>
    <p class="lead">A Demonstration of SharePoint functionality in the Department of Social Protection </p>
    <p><a href="https://sharepointproject.codeplex.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Management Scheduling</h2>
        <p>
            Create a project management scheduling template online!
        </p>
        <p><a class="btn btn-default" href="https://www.smartsheet.com/best-excel-schedule-templates">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Collaboration</h2>
        <p>Learn and Discover Team Web Collaboration </p>
        <p><a class="btn btn-default" href="https://products.office.com/en-us/sharepoint/collaboration">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Document Sharing</h2>
        <p>Learn the advantages of document sharing on a cloud based server.</p>
        <p><a class="btn btn-default" href="https://technet.microsoft.com/en-us/library/cc261933.aspx">Learn more &raquo;</a></p>
    </div>
</div>