
@{


    ViewBag.Title = " Welcome " + User.Identity.Name;
}

<hgroup class="title"/>
    <h1>@ViewBag.Title.</h1>
    @*<div class="jumbotron">
        <h1>Collaboration</h1>
        <p class="lead">A demonstration of SharePoint functionality in the Department of Social Protection </p>
        <p><a href="https://sharepointproject.codeplex.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

    <div class="row">
        <div class="col-md-4">
            <h2>Profile</h2>
            <p><a class="btn btn-default" href="@Url.Content("Profile")">View  &raquo; </a></p>
</div>
        <div class="col-md-4">
            <h2>Files</h2>
            <p><a class="btn btn-default" href="@Url.Content("~/File/Index")">See All  &raquo; </a></p>
        </div>
        <div class="col-md-4">
            <h2>Requests</h2>
            <p><a class="btn btn-default" href="@Url.Content("Register")">Add  &raquo; </a></p>
        </div>
    </div>
	
